@model Lab4.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="mb-2 bg-primary text-white">
    <h2>Use another service to log in.</h2>
    <hr />
    @{
        /**/

        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804" class="text-danger">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <div>
                <hr />
                <div>
                    <span class="glyphicon glyphicon-search" style="font-size:24px;"></span>    Читайте о том, что вам интересно
                </div>
                <hr />
                <div>
                    <span class="glyphicon glyphicon-user" style="font-size:24px;"></span>    Узнавайте, что обсуждают люди
                </div>
                <hr />
                <div>
                    <span class="glyphicon glyphicon-pencil" style="font-size:24px;"></span>    Присоединяйтесь к переписке
                </div>
                <hr />
            </div>
        }
        else
        {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                }
            </p>
        </div>
        }
        }
        }
        </div>
