<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var addTwit;
        $(document).ready(function () {

            addTwit = function () {
                var twit = {
                    Id: "",
                    Content: $("#contentTwit").val(),
                    Created: "",
                    UserId: "",
                }

                $.ajax({
                    url: '/Twit/Add',
                    type: 'POST',
                    dataType:'json',
                    data: JSON.stringify(twit),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) { },
                    error: function () { alert('Twit not Added'); }
                })

                console.log("tvitnyti")
            }

            RefreshTwitList = function () {
                $.post('@Url.Action("GetTwits","Twit",null,Request.Url.Scheme)')
                    .done(function (response) {
                        $("#bodyTwit").empty()
                        $("#bodyTwit").append(response)
                    })
            }

            $(function () {

                var twit = $.connection.twitHub;

                twit.client.addNewTwit = function (message) {                    
                    if (message === "Refresh") {
                        RefreshTwitList()
                    }
                }

                $.connection.hub.start().done(function () {
                    console.log("startTest")
                })
            });


        })
    </script>
    
    @RenderSection("scripts", required: false)

</head>
    <body class="bg-light @(Request.IsAuthenticated ? "pt-md-4" : "pt-md-0 pb-md-0 h-100" )">
        <div id="qwert"></div>
        @if (Request.IsAuthenticated)
        {
            <div class="pt-md-3">
                <nav class="navbar navbar-expand-md fixed-top bg-white p-0 row" role="navigation">
                    <div class="container p-0">                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#praay">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="navbar-collapse collapse" id="praay">
                            <ul class="navbar-nav nav-tabs border-primary col-md-5">
                                <li class="nav-item active font-weight-bold col-md-3 text-center pl-md-0 pr-md-0">
                                    <a class="nav-link text-muted" href="/Home/Index"><span class="fa fa-home navbar-dark pr-1"></span>Главная</a>
                                </li>
                                <li class="nav-item font-weight-bold col-md-5 text-center pl-md-0 pr-md-0">
                                    <a class="nav-link text-muted" href="#"><span class="fa fa-bell-o navbar-dark pr-1"></span>Уведомления</a>
                                </li>
                                <li class="nav-item font-weight-bold col-md-5 text-center pl-md-0 pr-md-0">
                                    <a class="nav-link text-muted" href="#"><span class="fa fa-envelope-o navbar-dark pr-1"></span>Сообщения</a>
                                </li>
                            </ul>

                            <div class="d-inline-block pr-5 pl-5">
                                <a href="/Home/Index" class="navbar-brand d-inline-block text-primary mx-auto d-block text-center order-md-1">
                                    <span class="fa fa-themeisle navbar-dark"></span>
                                </a>
                            </div>

                            <div class="col-md-4 pl-md-0 pr-md-0">
                                <form class="form-inline">
                                    <div class="input-group w-100" style="border-radius:24px">
                                        <input class="form-control col-md-10 bg-light rounded-left" type="search" placeholder="Поиск в Твиттере" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary bg-light border border-left-0 rounded-right">
                                                <span class="fa fa-search navbar-dark"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="bg-light  rounded-circle text-center" style="width:40px; height:40px">
                                s
                            </div>
                                <div class="form-group pull-right ml-md-4 pt-md-3">
                                    <input type="button" value="Твитнуть" id="submitTwit" onclick="addTwit()" class="btn-primary btn d-inline-block rounded-left rounded-right text-white font-weight-bold" />
                                </div>
                        </div>
                    </div>
                </nav>
            </div>
        }

        <div class="@(Request.IsAuthenticated?"container":"bg-white") body-content">
            <div id="bodyTwit" class="m-0 p-0">
                @RenderBody()
            </div>   
        </div>
    </body>
</html>